services:
  ipfs:
    image: ipfs/kubo:v0.29.0
    container_name: ipfs_host
    volumes:
      - ./export:/export # directory that you want to use to import and export files from IPFS.
      - ./ipfs_data:/data/ipfs # directory to store IPFS files that will persist when you restart the container.
      - ./ipfs-start.sh:/container-init.d/ipfs-start.sh # 只要掛在 container-init.d就會在啟動前跑script
    ports:
      - "4001:4001" # P2P TCP/QUIC transports
      - "4001:4001/udp"
      - "127.0.0.1:8080:8080" # Gateway 一般瀏覽器取得資料
      - "127.0.0.1:5001:5001" # RPC API, JS SDK使用
    # entrypoint: ["/bin/sh", "-c"]
    env_file:
      - .env.ipfs
    # command: >
    #   "chmod +x /scripts/ipfs-start.sh && /scripts/ipfs-start.sh"
